.ng-1 {
    text-align: center;
}
.ok-1 {
    text-align: center;
}
.ng-2 {
    width: 300px;
    background: rgb(226, 146, 146);
    text-align: center;
}
.ok-2 {
    width: 300px;
    margin: 0 auto;
    background: aqua;
}
.ok-3 {
    width: 1000px;
    margin: 0 auto;
    background: greenyellow;
}
.ok-3 div:first-child {
    text-align: left;
}
.ok-3 div:last-child {
    text-align: right;
}
.n {
    text-align: center;
}
.n div {
    font-size: 20px;
}
.ng-3 {
    height: 100px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    background: aquamarine;
}
.ok-4 {
    width: 1000px;
    height: 100px;
    line-height: 100px;
    background: aqua;
}
.ok-5 {
    width: 300px;
    margin: 0 auto;
    background: rgb(22, 116, 199);
}
.ok-5 div {
    padding: 30px 0;
    background: tan;
}
.ok-6oya {
    position: relative;
    height: 400px;
    width: 400px;
    background: indianred;
}
.ok-6 {
    position: absolute;
    height: 200px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: cadetblue;
    text-align: center;
}
.ok-6 div:first-child {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    background: yellowgreen;
}
.ok-6 div:last-child {
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    background: sandybrown;
}
.ok-7oya {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 600px;
    background: khaki;
}
.ok-7 {
    display: flex;
    align-items: center;
    height: 150px;
    width: 200px;
    background: darkgrey;
}